#tawkchat-container {
    width: 100px;
    right: 10% !important;
  }
  
  #tawkchat-minified-wrapper {
    width: 100px;
    right: 10% !important;
  }
  .tawk-min-container{
    width: 100px;
    right: 10% !important;
  }